@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

html {
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  height: 100%;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
}

.site-main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* header styles starts */

.header {
  padding: 14px 0;
  background-color: #202020;
  height: 45px;
  color: #ffffff;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

.headerlist-item {
  display: flex;
  align-items: center;
}

.headerlist-item:first-child {
  margin-right: 30px;
}

.header-text {
  margin: 0;
  font-weight: 400;
}

.headerlist-item > i {
  color: #ff5219;
  margin-right: 10px;
}

.header-links {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.header-item {
  margin-right: 20px;
}

.header-item:last-child {
  margin-right: 0;
}

.header-link {
  color: #ffffff;
}

.header-link:hover {
  color: #ff5219;
  cursor: pointer;
  transition: all 0.5s ease;
}

/* header styles ends */

/* main starts */

/* navbar styles starts */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 150px;
}

.navbar-content {
  width: 100%;
  max-width: 400px;
}

.navbar-image {
  width: 50%;
  object-fit: cover;
}

.navbar-list {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.navbar-item {
  margin-right: 25px;
}

.navbar-item:last-child {
  margin-right: 0px;
}

.navbar-link {
  text-decoration: none;
  color: #202020;
}

.navbar-link:hover {
  color: #ff5219;
  cursor: pointer;
  transition: all 0.5s ease;
}

.navbar-button {
  border: none;
  outline: none;
  color: #ffffff;
  background-color: #ff5219;
  border-radius: 10px;
  padding: 15px;
  text-transform: uppercase;
  position: relative;
  z-index: 0;
}

.navbarbutton-image {
  position: absolute;
  top: 6px;
  right: 10px;
  z-index: -1;
}
/* navbar styles ends */

/* home styles starts */

.home {
  margin-bottom: 100px;
  position: relative;
}

.homeimage-object1 {
  position: absolute;
  top: -120px;
  left: -160px;
}

.homeimage-object2 {
  position: absolute;
  bottom: 45px;
  left: -150px;
}

.home-container {
  display: flex;
  justify-content: space-between;
}

.home-content {
  width: 100%;
  max-width: 565px;
}

.home-text {
  margin: 0;
  color: #0060ff;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
}

.home-title {
  margin: 0;
  width: 100%;
  max-width: 500px;
  color: #202020;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 60px;
  position: relative;
}

.home-span {
  color: #f5091a;
  text-transform: uppercase;
}

.home-image {
  position: absolute;
  top: 150px;
  left: 50px;
}

.hometitle-text {
  margin: 0;
  color: #777777;
  font-weight: 400;
  margin-bottom: 30px;
}

.homeimage-wrapper {
  width: 100%;
  max-width: 900px;
}

.homewrapper-image {
  width: 100%;
  object-fit: cover;
}

.home-button {
  border: none;
  outline: none;
  color: #ffffff;
  background-color: #ff5219;
  border-radius: 10px;
  padding: 15px;
  text-transform: uppercase;
  position: relative;
  z-index: 0;
  margin-right: 30px;
}

.homebutton-imageblack {
  position: absolute;
  top: 6px;
  right: 10px;
  z-index: -1;
}

.home-member {
  border: none;
  outline: none;
  color: #ffffff;
  background-color: #000000;
  border-radius: 10px;
  padding: 15px;
  text-transform: uppercase;
  position: relative;
  z-index: 0;
}

.homebutton-imagered {
  position: absolute;
  top: 6px;
  right: 10px;
  z-index: -1;
}
/* home styles ends */

/* category styles starts */

.category {
  margin-bottom: 160px;
}

.category-content {
  text-align: center;
}

.category-text {
  margin: 0;
  color: #005ffd;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 30px;
}

.category-title {
  margin: 0;
  color: #202020;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 35px;
}

.category-list {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  gap: 25px;
}

.category-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #acacac;
  border-radius: 10px;
  padding: 20px;
}

.active {
  background-color: #ff5219;
  border: 2px solid #ff5219;
}

.category-wrapper {
  margin-right: 15px;
}

.categorywrapper-text {
  margin: 0;
  color: #202020;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 14px;
}

.categorywrapper-title {
  margin: 0;
  color: #777777;
}

.active-color {
  color: #ffffff;
}
/* category styles ends */

/* wechoose styles ends */

.wechoose {
  margin-bottom: 120px;
}

.wechoose-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.wechoose-wrapper {
  margin-right: 30px;
}

.wechoose-personimage {
  width: 100%;
  object-fit: cover;
}

.wechoose-content {
  width: 100%;
  max-width: 655px;
}

.wechoose-text {
  margin: 0;
  color: #0060ff;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
}

.wechoose-title {
  margin: 0;
  color: #202020;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 40px;
}

.wechoose-paragraph {
  margin: 0;
  color: #777777;
  font-size: 18px;
  margin-bottom: 30px;
}

.wechoose-list {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.wechoose-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.wechoose-item:last-child {
  margin-bottom: 40px;
}

.wechoose-image {
  margin-right: 20px;
}

.wechooseitem-text {
  margin: 0;
  font-weight: 400;
  color: #202020;
  font-size: 18px;
}

.wechoose-button {
  border: none;
  outline: none;
  color: #ffffff;
  background-color: #ff5219;
  border-radius: 10px;
  padding: 15px;
  text-transform: uppercase;
  position: relative;
  z-index: 0;
}

.wechoosebutton-image {
  position: absolute;
  top: 6px;
  right: 10px;
  z-index: -1;
}

.wechoose-partners {
  background-color: #d5dfef;
  height: 140px;
  border-radius: 10px;
  padding: 30px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wechoosewrapper-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wechooselogo-text {
  margin: 0;
  margin-left: 10px;
  color: #1d4281;
  font-weight: 500;
  font-size: 18px;
}
/* wechoose styles ends */

/* onlinecourse styles starts */

.onlinecourse {
  margin-bottom: 240px;
}

.onlinecourse-container {
  margin-bottom: 42px;
}

.onlinecourse-text {
  margin: 0;
  color: #0060ff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 45px;
}

.onlinecourse-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 42px;
}

.onlinecourse-title {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  color: #202020;
}

.onlinecourse-button {
  border: none;
  outline: none;
  color: #ffffff;
  background-color: #ff5219;
  border-radius: 10px;
  padding: 15px;
  text-transform: uppercase;
  position: relative;
  z-index: 0;
}

.onlinecoursebutton-image {
  position: absolute;
  top: 6px;
  right: 10px;
  z-index: -1;
}

.onlinecourse-list {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  gap: 25px;
}

.onlinecourse-item {
  width: 100%;
  max-width: 370px;
}

.onlinecourse-image {
  position: relative;
}

.onlinecourse-spanenglish {
  position: absolute;
  bottom: 30px;
  left: 35px;
  color: #ffffff;
  background-color: #ff5219;
  padding: 8px 30px 8px 17px;
  border-radius: 10px;
  font-size: 18px;
}

.onlinecourse-spanative {
  position: absolute;
  bottom: 30px;
  left: 180px;
  color: #ffffff;
  background-color: #0060ff;
  padding: 8px 30px 8px 17px;
  border-radius: 10px;
  font-size: 18px;
}

.onlinecourse-imagebackground {
  object-fit: cover;
}

.onlinecourse-wrapper {
  padding: 22.5px 29px 15px 30px;
  background-color: #ffffff;
}

.onlinecoursewrapper-title {
  margin: 0;
  margin-bottom: 30px;
  color: #202020;
  font-size: 22px;
  font-weight: 700;
}

.onlinecoursewrapper-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 20px;
}

.onlinecoursewrapper-wrapper {
  display: flex;
  align-items: center;
}

.onlinecoursewrapper-image {
  object-fit: cover;
  margin-right: 9px;
}

.onlinecoursewrapper-span {
  color: #777777;
}

.onlinecoursewrapper-content > i {
  color: #ffc107;
}

.onlinecoursewrapper-grade {
  color: #777777;
}

.onlinecoursewrapper-contentmoney {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.onlinecoursewrapper-money {
  color: #ff5219;
  font-size: 22px;
  font-weight: 700;
}

.onlinecoursewrapper-personimage {
  object-fit: cover;
  margin-right: 10px;
}

.onlinecoursewrapper-person {
  color: #777777;
  font-weight: 400;
}

/* onlinecourse styles ends */

/* main ends */
